*
{
    font-size: 30px;
    font-family: Andale Mono, monospace; 
}
body
{
    cursor: none;
}

/* .main_content
{
    visibility: hidden; 
}   */
.cursor
{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 3000;
    transform: translate(-50%, -50%);
    background: radial-gradient(400px at 50% 50%, rgba(255, 255, 255, 0.7), transparent 90%);
    pointer-events: none;
}
.cursor2
{
   animation: spin 5s linear infinite;
   width: 100px;
   height: 100px;
   border: 2px solid black;
   border-radius: 50%;
   z-index: 3000;
   pointer-events: none;
   position: fixed;
   clip-path: polygon(20% 0%, 20% 0%, 40% 0%, 50% 0%, 60% 10%, 80% 0%, 100% 0%, 80% 100%, 100% 70%, 80% 100%, 60% 100%, 0% 100%, 20% 80%, 0% 40%, 0% 10%);
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.cursor_text
{
    animation: spin 5s linear infinite;
    position: fixed;
    width: 100px;
    height: 100px;
    color: #ffffff;
    white-space: nowrap;
    pointer-events: none;
    z-index: 3000;
    /* transform: translate(-50%, -50%); */
}
.cursor_text p
{
    font-size: 10px;
    color: #D7D4CD;
    display: inline-block;
    font-weight: bold;
    position: absolute;
}
.first_
{
    margin-left: 72px;
    margin-top: -5px;
    rotate:51deg;
    letter-spacing: -8px;
}
.second_
{
    margin-left: 130px;
    margin-top: -17px;
    position: absolute;
    rotate: 23deg;
}
.header
{
    display: flex;
    justify-content:space-around;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    align-items: center;
    margin-top: -220px;
    margin-bottom: 100px;
    box-shadow: 0px 3px 3px 0px  #979797;
    position: fixed;
    margin-left: -20px;
    z-index: 800;
}
.logo
{
    width: 120px; 
    height: fit-content; 
    margin-top: -10px;
}
#logos_
{
    height: 60%; 
    width: 100%;
}
.toppings
{
    display: flex;
    flex-direction: row;
}
.toppings span
{
    margin-left: 6%;
}
.toppings span::hover
{
    text-shadow: 3px 3px 2 #cbcbcb;
}
#canvas_containerRatio
{
    width: 100%;
    height: 350px;
    margin-top: 220px;
    align-items: center;
    z-index: 3;
}
.section_1
{
    width: 100%;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 60px;
}
.section_2 span
{
    width: 100%;
    height: fit-content;
    position: relative;
    white-space: nowrap;
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: 65px;
    font-family: 'Microsoft Yi Baiti';
}
.section_2 span
{ 
    position: absolute;
    margin-left: 7%;
}
.section_2 span:nth-child(1) 
{
    color: rgb(133, 133, 236);
}
.section_2 span:nth-child(2)
{
    color: #D7D4CD;
    animation: animate 6s ease-in-out infinite;
}
@keyframes animate
{
    0%, 100%
    {
        clip-path: polygon(1% 55%, 8% 48%, 18% 43%, 28% 45%, 35% 51%, 39% 56%, 46% 65%, 53% 71%, 62% 73%, 72% 73%, 82% 70%, 91% 67%, 100% 63%, 100% 100%, 1% 99%);
    }
    50%
    {
        clip-path: polygon(0% 59%, 11% 70%, 19% 71%, 29% 72%, 37% 68%, 42% 63%, 48% 59%, 57% 54%, 69% 51%, 80% 51%, 89% 53%, 94% 58%, 100% 63%, 100% 100%, 1% 100%);
    }
}
.section_3
{
    height: 100%;
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
}
.section_3 img
{
    height: 35%;
    width: 35%;
    filter: blur(1.5px);
    z-index: 5;
}
.section_3 p
{
    margin-left:5%;
    font-size: 35px;
    width: 490px;
    margin-top: 60px;
    line-height: 1.3;
    letter-spacing: 4px;
}
.line_break
{
    width: 100%;
    height: 2px;
    background-color: #D7D4CD;
    margin-top: 20px;
}
.section_4
{
    margin-top: -90px;
    display: flex;
    justify-content: space-around;
}
.section_4 img
{
    width: 40%;
    height: 100%;
    margin-top: 175px;
    z-index: 5;
    background-color: transparent;
}
.section_4 p 
{
    margin-top: -50px;
}
.arrow_1
{
    margin-top: -345px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
.arrow_1 img
{
    width: 17%;
    height: 280px;
    rotate: 210deg;
    z-index: 5;
}
.section_5
{
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}
.section_5 img
{
    width: 40%;
    height: 100%;
    z-index: 5;
    background-color: transparent;
}
.section_5 p
{
    margin-top: 280px;
}
.arrow_2
{
    margin-top: -480px;
    display: flex;
    justify-content: center;
    margin-left: -15%;
}
.arrow_2 img
{
    width: 22%;
    rotate: 105deg;
    z-index: 5;
}
.section_6 
{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    background-color: transparent;
}
.section_6 p 
{
    margin-top: 0px;
    margin-left: 13%;
}
.section_6 img
{
   width: 130%;
   height: 100%;
   z-index: 50; 
}
.arrow_3
{
    background-color: transparent;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.arrow_3 img
{
    width: 13%;
    rotate: -45deg;
    margin-left: 43%;
    height: 260px;
    z-index: 5;
    margin-top: 0px;
}
.binary
{
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 50px;
    font-family: var(--bs-font-sans-serif);
    opacity: 0.15;
    margin-top: -1400px;
    z-index: 5;
    width: 100%;
    text-align: center;
}
.middle_section
{
    width: 100%;
    height: fit-content;
    margin-top: 255px;
    padding-left: 20px;
    margin-bottom: 70px;
}
.arrow_4
{
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.arrow_4 img
{
    margin-left: 8%;
    margin-top: -50px;
    z-index: 5;
}
.experience
{
    display: flex;
    width: 100%;
    height: 1900px;
    justify-content: center;
    margin-top: 50px;
}
.bullets_
{
    width: 100%;
}
.bullets_ div span
{
    width: 40px;
    height: 3px;
    background-color: #D7D4CD;
    display: block;
    margin-bottom: 40px;
}
.bullets_ div p
{
    width: 1000px;
    text-align: left;
}
.bullets_ div button
{
    width: 105px;
    border-radius: 10%;
    color: #D7D4CD;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    height: 40px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 70px;
    background-color: transparent;
    border: 1px solid #D7D4CD;
}
.massive_button
{
    display: flex;
    flex-direction: row;
}
.projects
{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;  
}
.projects div
{
    width: 600px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 30px;
    border: 3px solid #D7D4CD;
    z-index: 1;
    text-align: center;
}
.projects span
{
    font-size: 80px;
    margin-bottom: 50px;
}
.projects p
{
    font-size: 90px;
    position: relative;
    text-align: right;
    margin-top: -70px;
    z-index: 5;
    background-color: transparent;
    filter: blur(2px);
}
.projects section
{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
}
.projects div span
{
    font-size: 40px;
}
.projects div section img
{
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
    height: 100%;
    width: 80%;
    border: 2px solid black;
}
.section_7
{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    height: fit-content;
    text-align: center;
    flex-direction: column;
}
.section_7 p
{
    font-size: 50px;
}
.section_7 button
{
    pointer-events: none;
    border: 3px solid white;
    border-radius: 13px;
    padding: 10px;
    margin-top: 70px;
    height: 100px;
    color: #D7D4CD;
    width: 420px;
    background-color: black;
}
.icons
{
    margin-top: 120px;
    justify-content: center;
    display: flex;  
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}
.icons div a
{
    text-decoration: none;
    color: inherit;
}
.icons div
{
    margin-left: 7%;
}